[submodule ".vim"]
	path = .vim
	url = https://github.com/tomgco/.vim.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/tomgco/prezto.git
[submodule "tmux-mem-cpu-load"]
	path = tmux-mem-cpu-load
	url = git@github.com:thewtex/tmux-mem-cpu-load.git
